div{
    margin-left: 10%;
    margin-bottom: 2%;
    font-size: 15px;
    background-color: aquamarine;
    width: 250px;
    height: 300px;
    border: 5px solid black;

}
p{
    margin-left: 10px;
    padding-top: 10px;
}
