.div{
    margin-left: 25%;
    margin-top: 15%;
    background-color: black;
    border-radius: 5px;
    width: 400px;
    height: 260px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.label{
    color: white;
    font-size: 30px;
    margin-top: 15px;
}

.login{
    background-color: green;
    color: white;
    width: 75px;
    height: 40px;
}

.pao{
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input2{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bordinha{
    height: 25px;
    width: 300px;
    border-radius: 5px;
}